[submodule "UI"]
	path = UI
	url = https://github.com/MIRA-Intelligence/mira-ui.git
	branch = dev
[submodule "mira_engine/skills"]
	path = mira_engine/skills
	url = https://github.com/MIRA-Intelligence/mira-skills.git
